:root{
  --font_poppins: 'Poppins', sans-serif;
  --primary_color: #203239;
}

/* =======common code start here=====/ */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,ol{
  list-style-type: none;
}
a{
  display: inline-block;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
  line-height: .8;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

.paragraph{
  color: var(--primary_color);
  font-family: var(--font_poppins);
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

.heading{
  color: var(--primary_color);
  font-size: 36px;
  font-family: var(--font_poppins);
  font-weight: 600;
  line-height: 150%;

}

/* =======common code is end here===== */

/* =====navber start here==== */
#navber{
  padding: 57px 0 60px 0;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

.nav_wrapper{
  display: flex;
  justify-content: space-between;
}

.menu_part ul{
  display: flex;
  column-gap: 100px;
} 

.menu_part ul li a{
  color: var(--primary_color);
  font-family: var(--font_poppins);
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  position: relative;
}

.menu_part ul li a::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: darkorange;
  position: absolute;
  top: 110%;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
  transition: all linear .3s;
}

.menu_part ul li a:hover:after{
  width: 40px;
}
/*====== navber end here===== */

/* =====banner section satart here=== */

#banner{
  padding: 130px 0 60px 0;
  background-color: #EEEDDE;
}

.banner_wrapper{
  display: flex;
  justify-content: space-between;
}

.banner_content{
  width: 770px;
 }

.banner_content h1{
  color: var(--primary_color);
  font-family: var(--font_poppins);
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
  padding-top: 70px;
}

.banner_content p{
  color: rgba(31, 50, 56, 0.55);
  width: 544px;
  margin-top: 24px;
}



.banner_search{
  width: 675px;
  height: 70px;
  background-color: white;
  border-radius: 15px;
  margin-top: 56px;
  overflow: hidden;
}
.banner_search form{
  width: 100%;
  height: 100%;
  position: relative;

}

.banner_search form input{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: none;
  padding: 23px 0 23px 56px;
  font-size: 16px;
  font-family: var(--font_poppins);
  font-weight: 300;
  line-height: normal;
  color: #203239;
}

.banner_search form input::placeholder{
  color: rgba(33, 50, 56, 0.55);
}
.banner_search form i{
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.banner_search form button{
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  padding: 13px 41px 13px 41px;
  background-color: var(--primary_color);
  border-radius: 10px;
  color: #fff;
  font-family: var(--font_poppins);
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  line-height: normal;
}

.counter_wrapper{
  margin-top: 56px;
  display: flex;
  column-gap: 72px;
  align-items: flex-start;
}

.counter_item span{
  color: var(--primary_color);
  font-size: 56px;
  font-family: var(--font_poppins);
  font-weight: 600;
  line-height: 150%;

}

.counter_item span span{
  color: #FF7527;
  font-size: 56px;
  font-family: var(--font_poppins);
  font-weight: 600;
  line-height: 150%;

}
.counter_item p{
  margin-top: 0;
  width: auto;
  color: rgba(33, 50, 56, 0.55);

}

.banner_img{
  width: 400px;
  height: 522px;
  overflow: hidden;
}

.banner_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========= banner section end here==== */

/* =====about start here===== */
#about{
  padding: 100px 0;
}

 .about_heading h3{
  width: 533px;

 } 
 

.about_item{
  margin-top: 64px;
  width: 300px;
  padding: 20px 33px;
  border: 1px solid transparent;
}

.about_item:hover{
  border: 1px solid #EEEDDE;
}


.about_item_heading{
  display: flex;
  justify-content: space-between;
}
.about_item_heading h3{
  color: #203239;
  font-family: var(--font_poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  position: relative;
}

.about_item_heading h3::after{
  position: absolute;
  content: "";
  height: 30px;
  width: 8px;
  top: 50%;
  border-radius: 5px;
  transform: translateY(-50%);
  left: -33px;
  background-color: #FF7527;
 }

.about_item_heading span{
  color: #FF7527;
  font-family: var(--font_poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.about_item p{
  margin-top: 8px;
  color: rgba(33, 50, 56, 0.55);
}

.about_wrapper{
  display: flex;
  column-gap: 133px;
}

.about_item a{
  margin-top: 50px;
  color: #203239;
  font-family: var(--font_poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: auto;
  text-transform: capitalize;
  position: relative;
  z-index: 9;
}
.about_item a::after{
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  height: 30px;
  width: 40px;
  background-color: #D6D5C7;
  transition: all linear .3s;
  z-index: -1;

}
.about_item a:hover::after{
  width: 115%;
}
/* =====about section start here==== */

/* ======Auditor section start here===  */
#auditor{
  background-color: #fff;
  padding: 68px 0 ;
}
.auditor_heading p{
  color: #FF7527;
}

.auditor_wrapper{
  margin-top: 64px;
  display: flex;
  column-gap: 49px;
}
.auditor_img{
  width: 357px;
   height: 454px;
   overflow: hidden;
   border-radius: 10px;

}

.auditor_img img{
  width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 10px;
   object-fit: cover;
   
}

.auditor_content h4{
  margin-top: 16px;
  color: #203239;
  font-family: var(--font_poppins);
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;

}
.auditor_content p{
  margin-top: 8px;
  width: 356px;
}
/* ======Auditor section end here===  */

/* ======contact start here==== */

#contact{
  padding: 48px 0;
  background-color: #EEEDDE;
}

.heading_wrapper{
  display: flex;
  column-gap: 117px;

}
.contact_head{
  width: 650px;
  background-color: transparent;
}

.contact_wrapper{
  margin-top: 65px;
  display: flex;
  column-gap: 48px;
}

.phn{
  display: flex;
  column-gap: 48px;
}
          
.phn .phn_item{
  padding: 24px;
  background-color: transparent;
  border: 1px solid #FF7527;
  border-radius: 10px;
}
.phn_item_wrapper{
  width: 195px;
  height: 56px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 24px;
}
.icon i{
 font-size: 30px;  
}
.phn_item .call p{
  padding: 13px 61.5px;
  background-color: rgba(255, 118, 38, 0.20);
  border-radius: 10px;
  color: #FF7527;
  font-family: var(--font_poppins);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  transition: all linear .3s;

}

.phn_item .call p:hover{
  color: #fff;
  background-color: #FF7527;
}

.phn_item .two p{
  color: var(--primary_color);
  font-family: var(--font_poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.phn_item .two span{
  color: #203239;
  font-family: var(--font_poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.logo_ll{
  margin-top: 39px;
  display: flex;
  column-gap: 32px;
  justify-content: center;
  align-items: center;
}

/* ======contact start here==== */

/* =====favorite section start here==== */
#favorite{
  padding: 68px 0 163px 0;
  background-color: #EEEDDE;
}

.favorite_wrapper{
  margin-top: 64px;
  display: flex;
  justify-content: space-between;

}
.favorite_img{
  position: relative;
}
.img_1{
  
  width: 331px;
  height: 455px;
  border-radius: 8.5px;
  overflow: hidden;

}
 .img_1 img{
  width: 100%;
  height: 100%;
  border-radius: 8.5px;
  object-fit: cover;

 }
 .img_2{
  position: absolute;
  top:60px;
  right: -167px;
  width: 358px;
  height: 490px;
  border-radius: 8.5px;
 }
 .img_2 img{
  width: 100%;
  height: 100%;
  border-radius: 8.5px;
  object-fit: cover;
 }



 .favorite_content{
  width: 577px;

 }
 .favorite_content p{
  margin-top: 24px;
 }
.favorit_btn{
  margin-top: 48px;
  display: flex;
  column-gap: 48px;
}
 .favorit_btn a{
  padding: 13px 41px;
  background-color: transparent;
  color: var(--primary_color);
  font-size: 16px;
  font-family: var(--font_poppins);
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid var(--primary_color);
  transition: all linear .3s;
  
 }
 .favorit_btn a:hover{
  background-color: var(--primary_color);
  color: #fff;
 }

 .favorit_btn a i{
  margin-right: 12px;
 }
/* =====favorite section end here==== */










